.header{
    height:70px;
    background: lightgrey;
    text-align: center;
    color:darkblue;
    padding: 10px;
    border-bottom:1px solid  darkgray;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}