<div class="d-flex justify-content-center mt-3">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check w-300" name="btnradio" id="btnradio1" autocomplete="off" value="All" (change)="onChangeradio($event)" checked>
      <label class="btn btn-outline-primary" for="btnradio1">All</label>
  
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="Apple" autocomplete="off" (change)="onChangeradio($event)">
      <label class="btn btn-outline-primary" for="btnradio2">Apple</label>
  
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="Samsung" autocomplete="off" (change)="onChangeradio($event)">
      <label class="btn btn-outline-primary" for="btnradio3">Samsung</label>
  
      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value="OPPO" autocomplete="off"(change)="onChangeradio($event)">
      <label class="btn btn-outline-primary" for="btnradio4">Oppo</label>
    </div>
  </div>
  
<p class="mt-2" style="text-align: center;">Selected Discount :- {{discount}}</p>