<div class="heading">All Products</div>

<table class="table" *ngIf="currentProducts.length!=0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currentProducts">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td><button class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="buttonGroup">
  <button class="btn btn-primary" (click)="getProducts()">
    Fetch Products
  </button>
  <button class="btn btn-warning" (click)="clearProducts()">Clear Product</button>
</div>

<div class="heading">Fetch Product from Id</div>
<form (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <label for="inputName" class="col-sm col-form-label">Enter Product Id</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputName"
        name="Productform"
        [(ngModel)]="searchId"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-2">Search</button>
</form>
<table class="table"  *ngIf="searchProduct.id!=null">
  <thead></thead>
  <tbody>
    <tr>
      <th scope="row">{{ searchProduct.id }}</th>
      <td>{{ searchProduct.name }}</td>
      <td>{{ searchProduct.description }}</td>
      <td>{{ searchProduct.price }}</td>
    </tr>
  </tbody>
</table>

