<app-header></app-header>
<router-outlet></router-outlet>

<!-- <h1>{{title1}}</h1>

<button (click)="addButton(1,2)">Click</button>
<p>{{addition}}</p>

<br>
<h2 id="counter">{{counter}}</h2>
<button (click)="increase()" id="inc">Increase</button> <button (click)="decrease()" id="dec">decrease</button>

<p id="name">{{name}}</p>

<h1>{{82 | displayResult}}</h1>


<br>
<input type="text" [(ngModel)]="currentName" id="myInp"/>
<p >{{currentName}}</p>

<button (click)="changeName()">Change Name</button>

<h1>Dependency Service Testing</h1>
<app-employee></app-employee> -->