<div class="mainContent">
  <app-side-bar></app-side-bar>
  <div>
    <div style="text-align: right;margin-bottom: 10px;margin-top: 10px;margin-right: 10px;"><button class="btn btn-success" (click)="createBlog()" >+ Create Blog</button></div>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
          
        >
          <div class="col" *ngFor="let item of blogs">
            <div class="card shadow-sm" style="height:475px">
              <img
                [src]="item.image"
                alt=""
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225px"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      (click)="open(item.toBlog)"
                    >
                      View
                    </button>
                    
                  </div>
                  <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      [disabled]="item.authorEmail != userEmail"
                      (click)="onDelete(item.id)"
                    >
                      Delete
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
