<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg
      class="bi mt-4 mb-3"
      style="color: var(--bs-indigo)"
      width="100"
      height="100"
    >
      <use xlink:href="#bootstrap"></use>
    </svg>
    <h1 class="text-body-emphasis">Publish your passions, your way </h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Create a unique and beautiful blog easily.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
        (click)="toHome()"
      >
       Create Blog 
        <svg class="bi ms-2" width="24" height="24">
          <use xlink:href="#arrow-right-short"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="b-example-divider"></div>
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <svg
        class="bi mt-4 mb-3"
        style="color: var(--bs-indigo)"
        width="100"
        height="100"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
      <h1 class="text-body-emphasis">Choose the perfect design </h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.
      </p>
    </div>
  </div>
